.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.obsidian/workspace
.obsidian/workspace.json
.idea/
target/
.obsidian/plugins/recent-files-obsidian/
.obsidian/plugins/remember-cursor-position/
.obsidian/plugins/remember-cursor-position/cursor-positions.json
out/
